@using System.Security.Claims;
@using MusiCom.Core.Models.New;
@model IEnumerable<NewAllNewViewModel>

@{
    var news = Model.ToList();
    bool isLeft = true;
}

<hr style="line-height: 20px" />
<link href="~/css/event_all_partial.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    @foreach (var neww in news)
    {
        if (isLeft)
        {
            <div class="row align-items-center event-block no-gutters margin-40px-bottom">
                <div class="col-lg-5 col-sm-12">
                    <div class="position-relative">
                        @{
                            var base64 = Convert.ToBase64String(neww.Image);
                            var imageSrc = string.Format("data:image/png;base64,{0}", base64);
                        }
                        <img src="@imageSrc" style="width: 450px; height: 280px;" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a asp-controller="New" asp-action="Details" asp-route-id="@neww.Id" class="text-theme-color">@neww.Title</a></h5>
                        <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                            <li><i class="fas fa-user margin-5px-right"></i> Editor: @neww.Editor.EditorName</li>
                        </ul>
                        @if (User.IsInRole("Editor") &&
                        neww.Editor.Id == Guid.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "00000000-0000-0000-0000-000000000000"))
                        {
                            <a class="btn btn-warning" asp-controller="New" asp-action="Edit" asp-route-id="@neww.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="New" asp-action="Delete" asp-route-id="@neww.Id">Delete</a>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" asp-controller="New" asp-action="Delete" asp-route-id="@neww.Id">Delete</a>
                        }
                    </div>
                </div>
            </div>

            isLeft = false;
        }
        else
        {
            <div class="row align-items-center event-block no-gutters margin-40px-bottom">
                <div class="col-lg-7 order-2 order-lg-1">
                    <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a asp-controller="New" asp-action="Details" asp-route-id="@neww.Id" class="text-theme-color">@neww.Title</a></h5>
                        <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                            <li><i class="fas fa-user margin-5px-right"></i> Editor: @neww.Editor.EditorName</li>
                        </ul>
                        @if (User.IsInRole("Editor") &&
                        neww.Editor.Id == Guid.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "00000000-0000-0000-0000-000000000000"))
                        {
                            <a class="btn btn-warning" asp-controller="New" asp-action="Edit" asp-route-id="@neww.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="New" asp-action="Delete" asp-route-id="@neww.Id">Delete</a>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" asp-controller="New" asp-action="Delete" asp-route-id="@neww.Id">Delete</a>
                        }
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <div class="position-relative">
                        @{
                            var base64 = Convert.ToBase64String(neww.Image);
                            var imageSrc = string.Format("data:image/png;base64,{0}", base64);
                        }
                        <img src="@imageSrc" style="width: 450px; height: 280px;" alt="">
                    </div>
                </div>
            </div>

            isLeft = true;
        }
    }
</div>