@using MusiCom.Core.Models.Event;
@model EventEditViewModel

@{
    ViewBag.Title = "Edit Event";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="new" asp-controller="Event" asp-action="Edit" method="post" enctype="multipart/form-data">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Title" class="form-label">Event Title</label>
                    <input asp-for="@Model.Title" class="form-control" autocomplete="newtitle" aria-required="true" />
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Date" class="form-label">Event Date</label>
                    <input type="datetime-local" value="@DateTime.Now" asp-for="@Model.Date" class="form-control" autocomplete="on" value="@Model.Date" aria-required="true" />
                    <span asp-validation-for="@Model.Date" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Image" class="form-label" style="display:block;">Event Photo</label>
                    <input type="file" id="files" asp-for="@Model.Image" name="image" />
                    <span asp-validation-for="@Model.Image" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Description" class="form-label">New Content</label>
                    <textarea rows="25" asp-for="@Model.Description" class="form-control" autocomplete="content" aria-required="true"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.GenreId" class="form-label">Genre</label>
                    <select asp-for="@Model.GenreId" class="form-control">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="add-submit" type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </section>
    </div>
</div>

<style type="text/css">
    select {
        width: 20em;
    }
</style>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}