@using MusiCom.Core.Models.Tag;
@model IEnumerable<TagNewAllViewModel>

@{
    ViewData["Title"] = $"All Tags ({Model.Count()})";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>
        .
    </p>
</div>
*@
<!-- Editable table -->
<div @*class="card"*@>
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            @*<span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>*@
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Tag Name</th>
                        <th class="text-center">Date of Creation</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td class="pt-3-half">@tag.Name</td>
                            <td class="pt-3-half">@tag.DateOfCreation</td>
                                <td>
                                    <div class="text-center">
                                        <a class="btn btn-warning" asp-controller="Tag" asp-action="Edit" asp-route-id="@tag.Id">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <a class="btn btn-danger" asp-controller="Tag" asp-action="Remove" asp-route-id="@tag.Id">Remove</a>
                                    </div>
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>