@using MusiCom.Core.Models.Genre;
@model IEnumerable<GenreAllViewModel>

@{
    ViewData["Title"] = "All Genres";
}

<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        @ViewData["Title"]
    </h3>
    <a style="align-content: center; margin-top: 5px; margin-bottom: 5px" class="btn btn-success" asp-controller="Genre" asp-action="Add">Add</a>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Genre Name</th>
                        <th class="text-center">Date of Creation</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genre in Model)
                    {
                        <tr>
                            <td class="pt-3-half">@genre.Name</td>
                            <td class="pt-3-half">@genre.DateOfCreation</td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-warning" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.Id">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-danger" asp-controller="Genre" asp-action="Remove" asp-route-id="@genre.Id">Remove</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>